html,
body {
	margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  font-family: 'Roboto', sans-serif;
}

.fa {
  color: var(--main-color);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  'header          header'
  'search          search'
  'outbound-ticket inbound-ticket'
  'alerts          alerts'
  'tickets         tickets'
  ;
  grid-template-rows: 50px auto 50px auto 1fr 50px;
  color: var(--second-color);

}

.header {
  grid-area: header;
  padding: 15px;
  border-bottom: 2px solid var(--border);
}

/* Desktop */
.header__options,
.header__options__doubt,
.header__options__sell,
.header__options__auth {
  display: none;
}

.search {
  grid-area: search;
  padding: 15px;
  border-bottom: 2px solid var(--border);
}

.outbound-ticket {
  grid-area: outbound-ticket;
  padding: 15px 35px;
  border-bottom: 2px solid var(--border);
  border-right: 1px solid var(--second-color);
}

.inbound-ticket {
  grid-area: inbound-ticket;
  padding: 15px 35px;
  border-bottom: 2px solid var(--border);
}

.alerts {
  grid-area: alerts;
  padding: 20px 15px;

}

.alerts--none {
  display: none;
}

.tickets {
  grid-area: tickets;
  padding: 0 15px;
}

.tickets--none {
  display: none;
}
